- model_class = Service
- page_title t('.title')
.page-title
  = t('.title')
  = link_to t('admin.shared.add'), new_manage_service_path, class: 'add btn'
.table-view
  %table.datatable.datatable-table.table-responsive{width: '100%'}
    %thead
      %tr
        %th.spacer
        %th= @model.human_attribute_name(:name)
        %th.fill= @model.human_attribute_name(:description)
        %th= @model.human_attribute_name(:icon)
        %th= @model.human_attribute_name(:color)
        %th.actions= t('admin.shared.actions')
    %tbody
      - @items.each do |item|
        %tr
          %td
          %td= item.name
          %td= item.description
          %td= item.icon
          %td= item.color
          %td.actions
            = link_to t('admin.shared.edit'), edit_manage_service_path(item.id), class: 'edit'
            = link_to t('admin.shared.delete'), manage_service_path(item.id), method: :delete, class: 'delete', data: {confirm: t('admin.shared.confirm_delete') }
