- title = t('admin.shared.manage_model', name: @model.human(2))
- page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title] }
.table-view
  %table.datatable.datatable-table.table-responsive{width: '100%'}
    %thead
      %tr
        %th.spacer{'data-orderable': 'false'}
        %th= @model.human_attribute_name(:name)
        %th.fill= @model.human_attribute_name(:description)
        %th.actions{'data-orderable': 'false'}= t('admin.shared.actions')
    %tbody
      - @items.each do |item|
        %tr
          %td
          %td
            .service.inline
              %i{class: item.icon}
            = item.name
          %td= item.description
          %td.actions
            = link_to t('admin.shared.edit'), edit_manage_service_path(item.id), class: 'edit'
