- page_title(t('.title'))
.form-container{class: @form_container_class}
  = simple_form_for resource, as: resource_name, url: confirmation_path(resource_name), remote: true, html: { method: :post, :'data-type' => 'json', class: @form_class } do |f|
    .header= t('.resend_confirmation')
    = devise_error_messages!
    = f.input :email, input_html: { autofocus: true }

    .actions.left
      = f.submit t("app.common.resend")
      = f.submit t("app.common.cancel"), type: :reset

- if !@form_container_class.include?(:'autonomous')
  = render partial: "shared/footer", locals: { with_links: true }
