- page_title(t('.title'))
= content_for :custom_stylesheet, 'page/registration'
= content_for :custom_javascript, 'page/registration'
.form-container{class: @form_container_class}
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), remote: true, html: { :'data-type' => 'json', class: @form_class } do |f|
    -# .header= t('.sign_up')
    = devise_error_messages!
    = render partial: 'shared/fields_localization', locals: { fields: { first_name: { required_locale: true }, last_name: { required_locale: true } } , form: f }
    .fields-group
      =# f.input :username
      = f.input :email, required: true
      = f.input :password, input_html: { autocomplete: 'off' }, required: true
      = f.input :password_confirmation, input_html: { autocomplete: 'off' }, required: true

    .fields-group
      = f.input :is_service_provider, as: :radio_buttons
      = f.simple_fields_for :providers do |provider|
        = render partial: 'shared/fields_localization', locals: { fields: { name: nil, description: { as: :text, input_html: { rows: 4 } } } , form: provider, container_options: { style: 'display:none;', id: 'user_providers' } }

    .fields-group
      = f.input :has_agreed, as: :boolean, label: t(".has_agreed_html", link: link_to(t('app.common.terms_of_use'), terms_of_use_path)), checked_value: true, unchecked_value: false
      .actions
        = f.submit t("app.common.register"), :disabled => true
        = f.submit t("app.common.cancel"), type: :reset

    .fields-group
      .text= t(".already_registered_html", link: link_to(t('app.common.sign_in'), new_user_session_path))
      .text= t(".no_confirmation_html", link: link_to(t('app.common.click_here'), new_user_confirmation_path))

    .text.help= t('.have_questions_html', link: (link_to t('app.common.click_here'), faq_path, target: '_blank'))

- if @form_container_class != :'autonomous'
  = render partial: "shared/footer", locals: { with_links: true }
