<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<strong><%= t('mailer.dear', name: @user[:name]) %></strong>

<p>
  <%= t('mailer.ad_created', site_name: @site_name) %>
<ul>
  <li><%= t('mailer.ad_title') %>: <%= @ad.title %></li>

  <li><%= t('ad.legal_form') %>: <%= @ad.legal_form %></li>

  <li><%= t('admin.items') %>
    <ul>
      <% @ad.items.each do |item| %>
          <li><%= item.name.capitalize %></li>
      <% end %>
    </ul>
  </li>

  <li><%= t('admin.categories') %>
    <ul>
      <% @ad.categories.each do |cat| %>
          <li><%= cat.name %></li>
      <% end %>
    </ul>
  </li>

  <li><%= t('mailer.where_pick_up') %>: <%= @ad.location.name_and_or_full_address %></li>

  <li><%= t('ad.beneficiaries_age_group') %>: <%= @ad.benef_age_group %></li>

</ul>
</p>

<p>
  <%= t('mailer.description') %>: <%= simple_format(@ad.description) %>
</p>

<hr />

<% if !@user[:is_anon] %>
<p>
  <%= t('mailer.manage_ad_html', :admin_panel => link_to(t('mailer.admin_panel'), @full_admin_url)) %>
</p>
<% end %>

<p><%= t('mailer.thanks') %><br />
  <%= t('mailer.signature', name: @site_name) %>
</p>
</body>
</html>
