- if @post[:first_name]
  = t('mailer.dear', name: @post[:first_name])
- else
  = t('session.hello')

= t('mailer.received_message', post_title: @post[:title], site_name: @site_name)
\------------------------------------------------
= t('post.from')
\: #{"#{@sender[:full_name]} (#{@sender[:email]})"}
\#{simple_format(@message)}

\------------------------------------------------

\#{t('post.get_back_to', first_name: @sender[:full_name])}

\#{t('mailer.thanks')}
\#{t('mailer.signature', name: @site_name)}
