<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/map_scripts_before_body', include_all_scripts: false %>

    <!-- Specific map scripts loaded for this page -->
    <%= stylesheet_link_tag 'leaflet.awesome-markers' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'MarkerCluster' %>
    <%= stylesheet_link_tag 'MarkerCluster.Default' %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 300px;
            margin: 0;
        }
    </style>

<% end %>

<div class="container">

  <% if flash[:new_ad] %>
      <div class="alert alert-dismissable alert-success" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= t('ad.create_success', title: flash[:new_ad]) %>
      </div>
      <% if flash[:ad_expire] %>
          <div class="alert alert-dismissable alert-info">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <%= flash[:ad_expire] %>
          </div>
      <% end %>
  <% end %>
  <% if flash[:success] %>
      <div class="alert alert-dismissable alert-success" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= flash[:success] %>
      </div>
  <% end %>
  <% if flash[:error_message] %>
      <div class="alert alert-dismissable alert-danger" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= flash[:error_message] %>
      </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <h3><%= @ad.title %>&nbsp;<span id="ad_star" style="display: <%= @ad.is_a_favorite_of(current_user) ? 'show' : 'none' %>;"><small><i class="glyphicon glyphicon-star" style="color: orange"></i></small></span></h3>
      <div class="ad-title">
        <% if !@ad.no_user_at_all %>
            <% if !is_owning(@ad) %>
                <!-- Ad publisher -->
                <label><%= t('ad.published') %></label>
                <span><%= publisher_name(@ad) %></span>
            <% else %>
                <% if @your_ad_has_expired %>
                    <strong><%= t('ad.you_own') %></strong><br>
                    <span class="ad-expiring"><%= t('ad.has_expired', expire_date: @ad.expire_date)%></span>
                <% else %>
                    <strong><%= t('ad.you_own') %></strong> <%= t('ad.you_manage')%> <a href="/user/ads/<%= @ad.id %>/edit"><%= t('ad.here')%></a>.
                <% end %>
            <% end %>
        <% end %>

        <!-- "Add to your favorites" button - only available when user is signed-in -->
        <% if current_user %>
            <% if @ad.is_a_favorite_of(current_user) %>
                <a href="#" id="<%= @ad.id %>" class="btn btn-danger favorite_button remove_favorite_button"><i class="glyphicon glyphicon-star"></i>&nbsp;<%= t('general_js.remove_from_favorites') %></a>
            <% else %>
                <a href="#" id="<%= @ad.id %>" class="btn btn-warning favorite_button add_to_favorite_button"><i class="glyphicon glyphicon-star"></i>&nbsp;<%= t('general_js.add_to_favorites') %></a>
            <% end %>
        <% end %>

        <div id="error_remove" style="color: red;"></div>

      </div>
    </div>
  </div>

  <!-- Message to show when ad is not published yet -->
  <% if !@ad.is_published %>
      <% if current_user && current_user.super_admin? %>
          <div class="row">
            <div class="col-lg-12 ad-paragraph">
              <div id="ad_not_published"><%= t('ad.ad_not_published_html', editpage: (link_to t('ad.edit_page'), edit_user_ad_path(@ad.id))) %></div>
            </div>
          </div>
      <% elsif current_user && current_user.id == @ad.user_id %>
          <div class="row">
            <div class="col-lg-12 ad-paragraph">
              <div id="ad_not_published"><%= t('ad.ad_to_be_reviewed') %></div>
            </div>
          </div>
      <% end %>
  <% end %>

  <div class="row">
    <div class="col-lg-12 ad-paragraph">
      <!-- Right-hand side: Map -->
      <div id="map"></div>
    </div>
  </div>

  <% if @ad.image? %>
      <div class="row">
        <div class="col-lg-7 col-sm-12 ad-paragraph">
          <%= render 'shared/ad_summary' %>
        </div>

        <!-- Ad image -->
        <div class="col-lg-5 col-sm-12 ad-image">
          <% if is_image_available(@ad) %>
              <%= image_tag @ad.image_url(:normal).to_s, width: '100%' %>
          <% else %>
              <div class="ad-processing">
                <%= t('ad.show_ad_image_processed') %><br />
                <%= t('ad.will_show_up') %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 ad-paragraph">
          <!-- Ad description -->
          <div class="ad-show-description">
            <label class="ad-label"><%= t('ad.description_en') %>:</label>
            <span><%= simple_format(@ad.description) %></span>
          </div>
        </div>
      </div>
  <% else %>

      <div class="row">
        <div class="col-lg-12 ad-paragraph">
          <%= render 'shared/ad_summary' %>
        </div>
        <div class="col-lg-12 ad-paragraph">
          <!-- Ad description -->
          <div class="ad-show-description">
            <label class="ad-label"><%= t('ad.description') %>:</label>
            <span><%= simple_format(@ad.description) %></span>
          </div>
        </div>
      </div>

  <% end %>

  <% if !@ad.no_user_at_all %>
      <!-- Have the "Send a message" box, if a user is tied to this ad -->
      <div class="row">
        <!-- 'Send message' text area -->
        <%= render 'shared/ads_send_message', ad: @ad %>
      </div>
  <% end %>


</div>

<div id="push"></div>

<!-- Rendering JS scripts -->
<% content_for :scripts do %>
    <!-- Includes all the Javascript related to map rendering, to be loaded after page
    (Leaflet, MapQuest, and initialize_map partial that create the actual map)-->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: false %>

    <!-- Leaflet plug-ins and library used on the home page -->
    <%= javascript_include_tag 'leaflet.markercluster' %>

    <!-- Javascript function calls, related specifically to the home page -->
    <script>
        // specific script to render map markers and initialize the sidebar.
        var locations_exact = <%= raw @locations_exact.to_json(:include => { :ads  => { :include => [:categories, :items] }}) %>;
        var marker_colors = <%= raw MARKER_COLORS.to_json %>;
        var locations_postal = null;
        var locations_district = null;
        putLocationMarkers();
    </script>
<% end %>
