= page_title t("admin.blah")
.tabs{'data-target': 'global'}
  %ul
    %header Moderate Reported Places
    - ['pending', 'accepted', 'declined'].each do |page|
      %li.tab-link
        = link_to t("shared.#{page}"), "\##{page}", 'data-link': page, 'aria-expanded': page
.tabs-content{'data-target': 'global'}
  %ul
    %li{'data-link': 'pending'}
      - @items[0].each do |item|
        .report
          .row
            = item.place.name # link to place page
          .row
            %label reported by
            = item.user.name # name (email)
          .row
            %label reason
            = item.reason
          .row
            %button Accept
            %button Decline
    %li{'data-link': 'accepted'}
      .blah %blah
    %li{'data-link': 'declined'}
      .blah %blah
