= content_for :custom_javascript, 'page/admin'
= page_title t("admin.#{current_page.to_s.gsub('-','_')}.#{action}")
%section.content
  .tabs{'data-target': 'global'}
    %ul
      - provider_profile_pages.each do |page|
        %li.tab-link{class: page == current_page ? 'active' : nil}
          = link_to t("admin.menu.#{page.to_s.gsub('-','_')}"), manage_provider_profile_path(page: page), 'data-link': page, 'aria-expanded': page == current_page
  .tabs-content{'data-target': 'global'}
    %ul

      %li{class: current_page == :'manage-provider' ? 'active' : nil, 'data-link': 'manage-provider'}
        - if current_page == :'manage-provider' && (action == :new || action == :edit) # @edit_states[0]
          = render partial: "admin/providers/#{action}", locals: { item: item }
        - else
          = render partial: 'admin/providers/list', locals: { items: providers }

      %li{class: current_page == :'manage-places' ? 'active' : nil, 'data-link': 'manage-places'}
        - if current_page == :'manage-places' && (action == :new || action == :edit)
          = render partial: "admin/places/#{action}", locals: { item: item }
        - else
          = render partial: 'admin/places/list', locals: { items: providers }

      %li{class: current_page == :'moderate-photos' ? 'active' : nil, 'data-link': 'moderate-photos'}
        = t('admin.menu.moderate_photos')

  = render partial: "shared/footer"
