=# content_for :custom_javascript, 'page/admin'
-title = t("admin.#{current_page.to_s.gsub('-','_')}.#{action}")
= page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title] }

- if current_page == :'manage-places'
  - if current_page == :'manage-places' && (action == :new || action == :edit)
    = render template: "admin/places/#{action}", locals: { item: item, redirect_default: false }
  - else
    = render partial: 'admin/places/list', locals: { items: places }
