= page_title t("admin.#{current_page.to_s.gsub('-','_')}.#{action}")
%section.content
  .tabs{'data-target': 'global'}
    %ul
      - user_profile_pages.each do |page|
        %li.tab-link{class: page == current_page ? 'active' : nil}
          = link_to t("admin.menu.#{page.to_s.gsub('-','_')}"), manage_user_profile_path(page: page), 'data-link': page, 'aria-expanded': page == current_page
  .tabs-content{'data-target': 'global'}
    %ul
      %li{class: current_page == :'manage-profile' ? 'active' : nil, 'data-link': 'manage-profile'}
        = render 'admin/users/edit'
      %li{class: current_page == :'favorite-places' ? 'active' : nil, 'data-link': 'favorite-places'}
        %span= t("favorite_places")
        = render partial: 'admin/users/favorites', locals: { items: [] }
      %li{class: current_page == :'rated-places' ? 'active' : nil, 'data-link': 'rated-places'}
        %span= t("rated_places")
        = render partial: 'admin/users/rates', locals: { items: [] }
      %li{class: current_page == :'uploaded-photos' ? 'active' : nil, 'data-link': 'uploaded-photos'}
        %span= t("uploaded_photos")
        = render partial: 'admin/users/photos', locals: { items: [] }

  = render partial: "shared/footer"
