=# content_for :custom_javascript, 'page/admin'
- title = t("admin.menu.#{current_page.to_s.gsub('-','_')}")
= page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title] }

-if current_page == :'manage-profile'
  = render template: "admin/users/edit", locals: { item: item, redirect_default: false }
-elsif  current_page == :'favorite-places'
  = render partial: 'admin/users/favorites', locals: { favorite_places: favorite_places }
-elsif current_page == :'rated-places'
  = render partial: 'admin/users/rates', locals: { rated_places: rated_places }
