<div class="container devise-section">

  <div class="row">

    <div class="col-lg-8">

      <%= devise_error_messages! %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <fieldset>
            <legend><%= t('registration.sign_up') %></legend>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= t('registration.all_mandatory') %>
              </div>
            </div>

            <!-- First name - English -->
            <div class="form-group">
              <%= f.label :first_name_en, t('registration.first_name_en')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.text_field :first_name_en, class: 'form-control', autofocus: true %>
              </div>
            </div>

            <!-- First name - Georgian -->
            <div class="form-group">
              <%= f.label :first_name_ka, t('registration.first_name_ka')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.text_field :first_name_ka, class: 'form-control', autofocus: true %>
              </div>
            </div>

            <!-- Last name - English -->
            <div class="form-group">
              <%= f.label :last_name_en, t('registration.last_name_en')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.text_field :last_name_en, class: 'form-control' %>
              </div>
            </div>

            <!-- Last name - Georgian -->
            <div class="form-group">
              <%= f.label :last_name_ka, t('registration.last_name_ka')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.text_field :last_name_ka, class: 'form-control' %>
              </div>
            </div>

            <!-- Username -->
            <div class="form-group">
              <%= f.label :username,t('registration.username')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.text_field :username, class: 'form-control help-message',
                                 :data => {:content => t('registration.username_help'), :placement => 'right',
                                           :toggle => 'popover', :trigger => 'hover focus'} %>
              </div>
            </div>

            <!-- E-mail -->
            <div class="form-group">
              <%= f.label :email, t('registration.email')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>

            <!-- Password -->
            <div class="form-group">
              <%= f.label :password, t('registration.password')+':', class:'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.password_field :password, class: 'form-control', autocomplete: "off",
                    :data => {:content => t('registration.password_help'), :placement => 'right',
                              :toggle => 'popover', :trigger => 'hover focus'}%>
              </div>
            </div>

            <!-- Confirm password -->
            <div class="form-group">
              <%= f.label :password_confirmation, t('registration.password_confirm')+':', class: 'col-lg-3 control-label' %>
              <div class="col-lg-9">
                <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
              </div>
            </div>

            <!-- Do you plan to register service? yes/no -->
            <div class="form-group">
              <%= f.label :is_service_provider, t('registration.register_service'), class: 'col-lg-3 control-label' %>
              <div class='col-lg-9'>
                <div class="radio">
                  <label>
                    <%= f.radio_button :is_service_provider, true, checked: true %> <%= t('registration.is_provider') %>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <%= f.radio_button :is_service_provider, false %> <%= t('registration.is_not_provider') %>
                  </label>
                </div>
              </div>
            </div>

            <!-- Note about checking out the FAQ -->
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <i><%= t('errors.have_questions_html', link: (link_to t('errors.faq_label'), faq_path, target: '_blank')) %></i>
              </div>
            </div>

            <!-- Terms and conditions checkbox -->
            <div class="form-group" style="margin-bottom: 30px;">
              <div class="col-lg-9 col-lg-offset-3 checkbox">
                <label>
                  <%= f.check_box :has_agreed_to_tos %> <%= t('admin.profile.i_have_accepted_html', terms_and_conditions: link_to(t('admin.profile.terms_and_conditions'), '#', class: 'terms_popup')) %>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= f.submit t('registration.sign_up'), class: 'btn btn-primary' %>
              </div>
            </div>


          </fieldset>

      <% end %>
    </div>
  </div>

  <%= render 'shared/links' %>

</div>

<!-- Modal popup that appears with click on Terms and Conditions -->
<div class="modal fade" id="terms_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= t('admin.profile.terms_and_conditions') %></h4>
      </div>
      <div class="modal-body" id="modal-body-id" style="width: 100%; height: 400px; overflow: auto;">
        <%= render 'shared/terms_and_conditions' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('home.got_it') %></button>
      </div>
    </div>
  </div>
</div>

<div id="push"></div>
<!--  /.container -->
