- translate_path = 'admin.place.'
= form_for obj, html: { role: 'form', class: 'fields' } do |f|
  .column-view
    .column
      = render partial: 'shared/fields_to_translate', locals: { fields: { name: nil, description: { type: 'text_area', class: 'tinymce' }} , form: f, translate_path: translate_path }
      .indent
        .fields-checkbox-list.services
          %label #{t('admin.place.services')}
          .fields
            = f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |b|
              .field
                = b.check_box
                = b.label do
                  %i
                  %span{ class: "icon #{b.object.icon}" }
                  = b.text
        = render_form_field(:text_field, f, :phone, translate_path)
        = render_form_field(:text_field, f, :website, translate_path)

    .column
      = render partial: 'shared/fields_to_translate', locals: { fields: { address: nil, city: nil} , form: f, translate_path: translate_path }
      .indent
        = render_form_field(:text_field, f, :postal_code, translate_path)
        .field
          %label #{t('admin.place.region')}
          = f.collection_select :region_id, Region.all, :id, :name, {}, { class: 'value' }
        %a#locator-find-me Locate Me on the Map

        .locator
          #locator_map
          .map_zoom
            #map_zoom_in.in +
            .hr
            #map_zoom_out.out −

        = f.hidden_field(:latitude)
        = f.hidden_field(:longitude)

  = render_form_actions()
