%ul.list
  - items.each do |item|
    %li
      .subheader
        .label
          = t('.provider')
        %span{class: 'name'} #{item.name}
        = link_to t('admin.add'), manage_provider_profile_path({ page: 'manage-places', id: 'new', provider_id: item.id }), class: 'add btn'
      %ul
        - item.places.each do |place|
          %li
            = link_to place.name, root_path, class: 'name'
            .actions
              = link_to t('admin.edit'), manage_provider_profile_path({ page: 'manage-places', id: item.id, edit: 'edit' }), class: 'edit'
              = link_to t('admin.delete'), place_path(item.id), method: :delete, class: 'delete', data: {confirm: t('admin.confirm_delete') }
