- content_for :custom_stylesheet, 'page/admin_place_select_service'
- content_for :custom_javascript, 'page/admin_place_select_service'

- item = @item || item
- existing_service_ids = item.place_services.only_active.pluck(:service_id)
- title = t('admin.shared.add_service_for_place', place: item.name)
- page_title title

= render partial: 'shared/breadcrumbs', locals: { paths: [[t('admin.shared.manage_model', name: @model.human(2)), manage_places_path], title] }

.form-container{class: @form_container_class}
  = simple_form_for [:manage, item], url: manage_place_select_service_path(item), html: { class: @form_class } do |f|
    = devise_error_messages!

    .intro
      = t('.intro')
      .place-name
        =item.name
        %br
        =item.address_full

    .fields-group.columns
      .field-wrapper.radios.radio_buttons.optional
        %label.field-label.radio_buttons.optional= t('.root_service')
        .root-services
          - root_services = @services.select{|x| x.root?}
          - root_services.each do |service|
            .radio
              %input.field-input.radio_buttons.optional{type: "radio", value: service.id, name: "root_service", id: "root_service_#{service.id}", data: {id: service.id}}
              %label.collection_radio_buttons{for: "root_service_#{service.id}"}
                %i{class: service.icon, alt: service.name, title: service.name}
                = service.name

    .fields-collection.columns{id: 'scrollto'}
      .fields-collection-wrapper
        %label.field-label.radio_buttons.optional= t('.services')
        .no-selection.active= t('.no_selection')
        .active-sub-services
        .sub-services
          - @services.each do |service|
            - if existing_service_ids.empty? || !existing_service_ids.include?(service.id)
              .field-wrapper{data: {id: service.id, 'parent-id': service.parent_id}}
                %input.field-input{type: "checkbox", value: service.id, name: "services[]", id: "services_#{service.id}"}
                %label.field-label{for: "services_#{service.id}"}= service.name

    .actions
      .action-group
        = f.submit t("admin.shared.next")
