-#
  - I18n.available_locales.each_with_index do |locale, locale_i|
    - I18n.locale = locale

    = t('notification.admin_moderate.hello')
    \
    = t('notification.admin_moderate.intro')
    \
    - @message.message.each do |item|
      - str = t("notification.admin_moderate.#{item[0]}_item", n: item[1])
      * #{str}
    \
    \
    = '---'
    = "#{t('app.common.name')} - #{t('app.common.slogan')}"

    - if locale_i != I18n.available_locales.length - 1
      = '--------------------------------------------------'
