- translate_path = 'admin.user.'
.devise-form{ class: @page_type }
  = form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, html: { method: :put, role: 'form', :class => 'fields', :'data-type' => 'json' }) do |f|
    .header= t('.change_your_password')
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    = render_form_field(:password_field, f, :password, translate_path, { autocomplete: 'off', autofocus: true })
    = render_form_field(:password_field, f, :password_confirmation, translate_path, { autocomplete: 'off' })
    .actions
      .action-group
        = submit_tag(t(".change_password"), { :type => "submit" })
        = submit_tag(t('admin.cancel'), { :type => "reset" })
