- translate_path = 'devise.passwords.new.'
.devise-form{ class: @page_type }
  = form_for resource, as: resource_name, url: password_path(resource_name), remote: true, html: { role: 'form', class: 'fields', :'data-type' => 'json' } do |f|
    .header= t('.forgot')
    = devise_error_messages!
    = render_form_field(:email_field, f, :email, translate_path, { autofocus: true }, { class: 'email' })
    .actions
      .action-group
        = submit_tag(t(".reset_password"), { :type => "submit" })
        = submit_tag(t('app.common.cancel'), { :type => "reset" })

- if @page_type == :'non-autonomous'
  = render partial: "shared/footer", locals: { with_links: true }
