-# translate_path = 'admin.provider.'
.form-container{class: @form_container_class}
  = simple_form_for obj, html: { class: @form_class } do |f|
    = devise_error_messages!
    .panels
      .panel
        = render partial: 'shared/fields_localization', locals: { fields: { name: nil, description: { as: :text, input_html: { required: true, rows: 6 } } } , form: f }
      .panel

    .actions
      = f.submit t("app.common.save")
      = f.submit t("app.common.cancel"), type: :reset
