- title = t('admin.providers.manage')
- page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title], buttons: [['providers.add', new_manage_provider_path, 'add']] }
.table-view
  %table.datatable.datatable-table.table-responsive{width: '100%'}
    %thead
      %tr
        %th.spacer
        %th= @model.human_attribute_name(:name)
        %th.fill= @model.human_attribute_name(:description)
        %th.actions= t('admin.shared.actions')
    %tbody
      - @items.each do |item|
        %tr
          %td
          %td= item.name
          %td= item.description
          %td.actions
            = link_to t('admin.edit'), edit_manage_provider_path(item.id), class: 'edit'
            - if item.deleted?
              = link_to t('admin.shared.restore'), restore_manage_provider_path(item.id), method: :patch, class: 'restore btn', data: {confirm: t('admin.providers.confirm_restore') }
            - else
              = link_to t('admin.shared.delete'), manage_provider_path(item.id), method: :delete, class: 'delete', data: {confirm: t('admin.providers.confirm_delete') }
