<!-- Left-hand side: Services -->
<div>
  <label class="ad-label"><%= t('admin.items')+':' %></label>
  <span>
    <ul>
      <% @ad.ad_items.each do |ad_item| %>
          <li><%= ad_item.item.capitalized_name %></li>
      <% end %>
    </ul>
    </span>
</div>

<!-- Left-hand side: Categories -->
<div>
  <label class="ad-label"><%= t('ad.type_services')+':' %></label>
  <span>
    <ul>
      <% @ad.categories.each do |category| %>
          <li><span style="color: <%= MARKER_COLORS[category.marker_color] %> "><%= category.name %></span></li>
      <% end %>
    </ul>
    </span>
</div>

<br />

<!-- Left-hand side: Location -->
<div>
  <label class="ad-label">
    <% if @ad.is_giving %>
        <%= t('ad.where_to_find') %>
    <% else %>
        <%= t('ad.where_to_bring') %>
    <% end %>
  </label>
  <span><%= @ad.location.name_and_or_full_address %></span>
</div>


<% if @ad.location.loc_type == 'exact' %>
    <!-- Location description -->
    <% if @ad.location.description && @ad.location.description != '' %>
        <div>
          <label class="ad-label"><%= t('ad.location_description') %></label>
          <span><%= @ad.location.description %></span>
        </div>
    <% end %>

    <!-- Left-hand side: Email -->
    <% if contact_email_to_show(@ad) != '' %>
        <div>
          <label class="ad-label"><%= t('admin.users.email') %>: </label>
          <span><%= contact_email_to_show(@ad) %></span>
        </div>
    <% end %>

    <!-- Left-hand side: Website -->
    <% if @ad.location.website && @ad.location.website != '' %>
        <div>
          <label class="ad-label"><%= t('ad.location_website') %></label>
          <span><a href="<%= @ad.location.full_website_url %>" target="_blank"><%= @ad.location.website %></a></span>
        </div>
    <% end %>

    <!-- Left-hand side: Phone number -->
    <% if @ad.location.phone_number && @ad.location.phone_number != '' %>
        <div>
          <label class="ad-label"><%= t('location.phone_number') %></label>
          <span><%= @ad.location.phone_number %></a></span>
        </div>
    <% end %>

    <!-- Left-hand side: Additional phone numbers -->
    <% if check_additional_phone_numbers(@ad.location) %>
        <div>
          <label class="ad-label"><%= t('location.add_phone_number') %></label>
          <span><%= check_additional_phone_numbers(@ad.location) %></a></span>
        </div>
    <% end %>

    <!-- Left-hand side: Facebook page -->
    <% if @ad.location.facebook && @ad.location.facebook != '' %>
        <div>
          <label class="ad-label"><%= t('location.facebook') %></label>
          <span><a href="<%= @ad.location.facebook %>" target="_blank"><%= t('location.link_to_facebook') %></a></span>
        </div>
    <% end %>
<% end %>