- buttons ||= []
- if paths.length > 0
  .breadcrumbs
    %ul
      - paths.each_with_index do |path, path_i|
        %li
          - if path.is_a? Array
            = link_to path[0], path[1]
          - else
            %span #{path}
          - if path_i != paths.length - 1
            %li
              %span.slash /
      - buttons.each do |button|
        %li
          = link_to t("admin.#{button[0]}"), button[1], class: "#{button[2]} btn"
