- locales = I18n.available_locales
.fields-localization{{}.merge(defined?(container_options) ? container_options : {})}
  .tabs{'data-target': '123'}
    .d.d1
    %label=t('shared.fields_localization')
    .d.d2
    - locales.each_with_index do |locale, locale_i|
      = link_to t("app.languages.#{locale}"), 'javascript:void(0);', class: "tab-link#{locale_i == 0 ? ' active' : ''}", 'data-link': locale
      - if locale_i != locales.length-1
        .d.d3
    .d.d4
  .tabs-content{'data-target': '123'}
    %ul
      - locales.each_with_index do |locale, locale_i|
        %li{class: locale_i == 0 ? 'active' : nil, 'data-link': locale}
          - fields.each do |field|
            = form.input :"#{field[0]}_#{locale}", label: t("activerecord.attributes.#{form.object.class.name.downcase}.#{field[0]}")
