- with_links ||= false
- klass ||= nil
%footer{class: klass}
  .mac
    = link_to image_tag(asset_path("png/mac.png"), alt: t('app.common.mac_alt'), title: t('app.common.mac_alt')).html_safe, "http://www.macgeorgia.org/", target: '_blank'
  .forset
    %span #{t('app.common.created_by')}
    = link_to image_tag(asset_path("svg/forset.svg"), alt: t('app.common.forset_alt'), title: t('app.common.forset_alt')).html_safe, "https://forset.ge/#{I18n.locale}", target: '_blank'
  - if with_links
    .footer-links
      = link_to t('app.common.privacy_policy'), privacy_policy_path
      = link_to t('app.common.terms_of_use'), terms_of_use_path
