.nested-fields.location-fields{:style => "padding-bottom: 10px;"}
  .form-group
    %h4= t('location.new_location')

    - if current_user.present? && current_user.locations.any? && %w(new create edit update).include?(action_name) && !@is_location_edit
      -# if the user is not anonymous and has created locations in the past, then give the possibility
      -# to remove the whole "new location" section to choose an existing location
      %a.btn.btn-danger.btn-sm.remove-new-location
        = t('post.choose_existing')

  - locales = Location.globalize_locales
  .row.space-bottom
    .col-lg-11
      .tab-content
        - locales.each_with_index do |locale, i|
          %div{id: "form-trans-#{locale}-tab-link", class: "tab-pane#{' active' if i == 0}", role: "tabpanel"}
            = form.input :"name_#{locale}", label: t("location.name"), input_html: { maxlength: 90, class: "help-message", data: { :content => t('location.name_help'), :placement => 'top', :toggle => 'popover', :trigger => 'hover focus' } }

    .col-lg-1.reposition
      %ul.nav.nav-tabs.tabs-right.vertical-text{role: "tablist"}
        - locales.each_with_index do |locale, i|
          %li{role: "presentation", class: "#{'active' if i == 0}"}
            %a{href: "#form-trans-#{locale}-tab-link", aria_controls: "form-trans-#{locale}-tab-link", role: "tab", "data-toggle": "tab"}= t("app.language._#{locale}")



  -# "Give full address" / "Choose area only" radio buttons
  - if Area.any?
    .form-group
      = label_tag 'loc_type', t('location.definition'), class: 'control-label'
      .radio
        %label
          = radio_button_tag 'loc_type', 'exact', true, class: 'location_type_exact'
          = t('location.definition_exact')
      .radio
        %label
          = radio_button_tag 'loc_type', 'area', false, class: 'location_type_area'
          = t('location.definition_area')

      .why-choose-section
        %a#why_choose_link{href: '#'}= t('location.why_choose_location_type')

  .exact_location_section
    = form.input :street_number, label: t("location.street_number"), input_html: { maxlength:'6', class: "form-control-small location_streetnumber" }

    .row.space-bottom
      .col-lg-11
        .tab-content
          - locales.each_with_index do |locale, i|
            %div{id: "form-trans1-#{locale}-tab-link", class: "tab-pane#{' active' if i == 0}", role: "tabpanel"}

              = form.input :"name_#{locale}", label: t("location.name"), input_html: { maxlength: 90, class: "help-message", data: { :content => t('location.name_help'), :placement => 'top', :toggle => 'popover', :trigger => 'hover focus' } }

              = form.input :"block_unit_#{locale}", label: t("location.block_unit"), input_html: {maxlength: 90, class: "help-message" }

              = form.input :"address_#{locale}", label: t("location.address"), input_html: { maxlength: 90, class: "help-message location_streetname", data: { :content => t('location.street_name_help'), :placement => 'top', :toggle => 'popover', :trigger => 'hover focus' } }

              = form.input :"village_#{locale}", label: t("location.village"), input_html: { maxlength:'90', class: "help-message " }

              = form.input :"city_#{locale}", label: t("location.city"), input_html: { maxlength:'90', class: "help-message location_city" }

              = form.input :"province_#{locale}", :collection => region_list, :include_blank => false, label: t("location.province"), input_html: { class: "location_region" }

      .col-lg-1.reposition
        %ul.nav.nav-tabs.tabs-right.vertical-text{role: "tablist"}
          - locales.each_with_index do |locale, i|
            %li{role: "presentation", class: "#{'active' if i == 0}"}
              %a{href: "#form-trans1-#{locale}-tab-link", aria_controls: "form-trans1-#{locale}-tab-link", role: "tab", "data-toggle": "tab"}= t("app.language._#{locale}")


    = form.input :"postal_code", label: t("location.postal_code"), input_html: { maxlength: 8, class: "form-control-small location_postal_code" }

  -# Geocode (latitude and longitude hidden fields)
  = form.input :latitude, as: :hidden, value: @map_settings[:latitude], input_html: { class: 'latitude' }
  = form.input :longitude, as: :hidden, value: @map_settings[:longitude], input_html: { class: 'longitude' }

  - if Area.any? # List of area ('area' type address only)
    #area_section
      - area_data = areas.map{|a| [a.name, a.id, { 'data-latitude' => a.latitude, 'data-longitude' => a.longitude }]}
      = form.input :area_id, :collection => area_data, :include_blank => t('location.area_blank'), label: t("location.area"), input_html: { class: "area-select", data: {:content => t('location.area_help'), :placement => 'top', :toggle => 'popover', :trigger => 'hover focus'}}

  -# "Locate me on the map" button
  .exact_location_section
    .form-group
      %a#find_geocodes_from_address.btn.btn-info{"data-content" => "#{t('home.click_on_map_after')}", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover"}
        = t('location.define_geocode_button')
      %span#find_geocode_loader


  -# Canvas for the map
  .form-group
    = form.label 'map-canvas-wrapper', t('location.map'), class: 'control-label'
    #map_notification_exact.map_notification
      %i= t('admin.location.map_notification_exact')
    #map.large

  -# Location description - English
  .row.space-bottom
    .col-lg-11
      .tab-content
        - locales.each_with_index do |locale, i|
          %div{id: "form-trans2-#{locale}-tab-link", class: "tab-pane#{' active' if i == 0}", role: "tabpanel"}
            = form.input :"description_#{locale}", as: :text, label: t("location.description"), input_html: { cols:40, rows: 6, class: "help-message", data: { :content => t('location.description_help'), :placement => 'right', :toggle => 'popover', :trigger => 'hover focus' } }
    .col-lg-1.reposition
      %ul.nav.nav-tabs.tabs-right.vertical-text{role: "tablist"}
        - locales.each_with_index do |locale, i|
          %li{role: "presentation", class: "#{'active' if i == 0}"}
            %a{href: "#form-trans2-#{locale}-tab-link", aria_controls: "form-trans2-#{locale}-tab-link", role: "tab", "data-toggle": "tab"}= t("app.language._#{locale}")

  -# Phone number
  .form-group
    = form.label :phone_number, t('location.phone_number'), class: 'control-label'
    .input-group
      %span.input-group-addon +995
      = form.text_field :phone_number, class: 'form-control form-control-small', maxlength:'15'

  -# Additional phone numbers
  .form-group
    = form.label :add_phone_number, t('location.add_phone_number'), class: 'control-label'
    .input-group
      %span.input-group-addon +995
      = form.text_field :add_phone_number, class: 'form-control form-control-small', maxlength:'15'
  .form-group
    .input-group
      %span.input-group-addon +995
      = form.text_field :add_phone_number_2, class: 'form-control form-control-small', maxlength:'15'

  = form.input :facebook, label: t("location.facebook")
  = form.input :website, label: t("location.website"), input_html: { maxlength:'60' }

  - if current_user
    = form.input :user_id, as: :hidden, value: current_user.id


#why_choose_modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('location.modal_exact_area_title')
      .modal-body
        %p
          = t('location.modal_exact_area_description', def_exact: t('location.definition_exact'))
          = t('location.modal_exact_area_description2')

        %p
          = t('location.modal_exact_area_description3')
          = t('location.modal_exact_area_description4', def_area: t('location.definition_area'))

      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"}= 'OK'
