- with_rator ||= false
- all_favorite ||= false
- ss = place.services.sorted
- view_all_service_places = t('shared.view_all_service_places')
.place-card{'data-place-id': place.id}
  .card-border
    .card
      .front
        .poster
          = link_to image_tag(place.poster, alt: t('app.common.alt', alt: place.name), class: 'image'), place_path(place.id), title: t('shared.view_place_details')
          - if all_favorite || place.favoritors.include?(current_user)
            .favorite{title: t('shared.picked_as_favorite')}
          = render partial: "shared/rating", locals: { rating: place.get_rating }
        .place-info
          = link_to place.name, place_path(place.id), class: 'name', title: t('shared.view_place_details')
          - if place.name != place.provider.name
            .provider
              %span= t('app.common.by')
              = link_to place.provider.name, root_path(what: place.provider.name), title: t('shared.view_all_provider_places')
          .services
            - ss[0,6].each do |s|
              .service
                = link_to root_path(services:[s.id]), title: "#{s.name} - #{view_all_service_places}" do
                  %i{class: s.icon}
            - if ss.length > 6
              .ellipsis{title: t('shared.view_all_services')}
          %ul.contact
            - if item.address.present?
              %li{title: place.address}
                %i.address
                %span= place.address
            - if item.phone.present?
              %li{title: place.phone}
                %i.phone
                %span= place.phone
      - if ss.length > 6
        .back.hidden
          .close
          %ul.services
            - ss.each do |s|
              %li.service
                = link_to root_path(services:[s.id]), title: "#{s.name} - #{view_all_service_places}" do
                  %i{class: s.icon}
                  %span= s.name
  - if with_rator
    = render partial: 'shared/rator', locals: { rate: PlaceRate.get_rate(current_user.id, place.id) }
