<div id="terms_and_conditions_text">
<h3><%= t('terms_and_conditions.title') %></h3>

<p>
  <%= t('terms_and_conditions.intro_1') %><br />
  <%= t('terms_and_conditions.intro_2') %><br/>
  <%= t('terms_and_conditions.intro_3') %>
</p>

<h4><%= t('terms_and_conditions.title_1') %></h4>

<p>
  <%= t('terms_and_conditions.info_1_1') %>
  <ul>
    <li><%= t('terms_and_conditions.info_1_2') %></li>
    <li><%= t('terms_and_conditions.info_1_3') %></li>
    <li><%= t('terms_and_conditions.info_1_4') %></li>
    <li><%= t('terms_and_conditions.info_1_5') %></li>
    <li><%= t('terms_and_conditions.info_1_6') %></li>
    <li><%= t('terms_and_conditions.info_1_7') %></li>
    <li><%= t('terms_and_conditions.info_1_8') %></li>
    <li><%= t('terms_and_conditions.info_1_9') %></li>
    <li><%= t('terms_and_conditions.info_1_10') %></li>
  </ul>
</p>

<h4><%= t('terms_and_conditions.title_2') %></h4>

<p>
  <%= t('terms_and_conditions.info_2_1') %>
</p>

<h4><%= t('terms_and_conditions.title_3') %></h4>

<p>
  <%= t('terms_and_conditions.info_3_1') %>
  <ul>
    <li><%= t('terms_and_conditions.info_3_2') %></li>
    <li><%= t('terms_and_conditions.info_3_3') %></li>
    <li><%= t('terms_and_conditions.info_3_4') %></li>
    <li><%= t('terms_and_conditions.info_3_5') %></li>
    <li><%= t('terms_and_conditions.info_3_6') %></li>
  </ul>
</p>

<p>
  <%= t('terms_and_conditions.info_3_7') %>
  <ul>
    <li><%= t('terms_and_conditions.info_3_8') %></li>
    <li><%= t('terms_and_conditions.info_3_9') %></li>
    <li><%= t('terms_and_conditions.info_3_10') %></li>
    <li><%= t('terms_and_conditions.info_3_11') %></li>
  </ul>
</p>

<p>
  <%= t('terms_and_conditions.info_3_12') %>
</p>

<h4><%= t('terms_and_conditions.title_4') %></h4>
<p>
  <%= t('terms_and_conditions.info_4_1') %>
  <ul>
    <li><%= t('terms_and_conditions.info_4_2') %></li>
    <li><%= t('terms_and_conditions.info_4_3') %></li>
    <li><%= t('terms_and_conditions.info_4_4') %></li>
    <li><%= t('terms_and_conditions.info_4_5') %></li>
  </ul>
</p>
<p>
  <%= t('terms_and_conditions.info_4_6') %>
</p>

<h4><%= t('terms_and_conditions.title_5') %></h4>

<p>
  <%= t('terms_and_conditions.info_5_1') %><br/><br/>
  <%= t('terms_and_conditions.info_5_2') %>
</p>

<h4><%= t('terms_and_conditions.title_6') %></h4>

<p>
  <%= t('terms_and_conditions.info_6_1') %>
</p>

<h4><%= t('terms_and_conditions.title_7') %></h4>

<p>
  <%= t('terms_and_conditions.info_7_1') %>
</p>
<p>
  <%= t('terms_and_conditions.info_7_2') %>
</p>
<p>
  <%= t('terms_and_conditions.info_7_3') %>
</p>

<h4><%= t('terms_and_conditions.title_8') %></h4>

<p>
  <%= t('terms_and_conditions.info_8_1') %>
</p>
<p>
  <%= t('terms_and_conditions.info_8_2') %>
</p>
<p>
  <%= t('terms_and_conditions.info_8_3') %>
</p>

<h4><%= t('terms_and_conditions.title_9') %></h4>

<p>
  <%= t('terms_and_conditions.info_9_1') %>
  <ul>
    <li><%= t('terms_and_conditions.info_9_2_html') %></li>
    <li><%= t('terms_and_conditions.info_9_3_html') %></li>
    <li><%= t('terms_and_conditions.info_9_4_html') %></li>
    <li><%= t('terms_and_conditions.info_9_5_html') %></li>
    <li><%= t('terms_and_conditions.info_9_6_html') %></li>
  </ul>
  <%= t('terms_and_conditions.info_9_7') %>
</p>

<h4><%= t('terms_and_conditions.title_10') %></h4>

<p>
  <%= t('terms_and_conditions.info_10_1') %>
  <ul>
    <li><%= t('terms_and_conditions.info_10_2') %></li>
    <li><%= t('terms_and_conditions.info_10_3') %></li>
    <li><%= t('terms_and_conditions.info_10_4') %></li>
    <li><%= t('terms_and_conditions.info_10_5') %></li>
    <li><%= t('terms_and_conditions.info_10_6') %></li>
    <li><%= t('terms_and_conditions.info_10_7') %></li>
  </ul>
</p>
<p>
  <%= t('terms_and_conditions.info_10_8') %>
  <ul>
    <li><%= t('terms_and_conditions.info_10_9') %></li>
    <li><%= t('terms_and_conditions.info_10_10') %></li>
    <li><%= t('terms_and_conditions.info_10_11') %></li>
    <li><%= t('terms_and_conditions.info_10_12') %></li>
    <li><%= t('terms_and_conditions.info_10_13') %></li>
    <li><%= t('terms_and_conditions.info_10_14') %></li>
    <li><%= t('terms_and_conditions.info_10_15') %></li>
    <li><%= t('terms_and_conditions.info_10_16') %></li>
    <li><%= t('terms_and_conditions.info_10_17') %></li>
    <li><%= t('terms_and_conditions.info_10_18') %></li>
    <li><%= t('terms_and_conditions.info_10_19') %></li>
    <li><%= t('terms_and_conditions.info_10_20') %></li>
    <li><%= t('terms_and_conditions.info_10_21') %></li>
  </ul>
</p>
<p>
  <%= t('terms_and_conditions.info_10_22') %>
</p>
<p>
  <%= t('terms_and_conditions.info_10_23') %>
</p>
<p>
  <%= t('terms_and_conditions.info_10_24') %>
</p>
<p>
  <%= t('terms_and_conditions.info_10_25') %>
</p>

<h4><%= t('terms_and_conditions.title_11') %></h4>
<p><%= t('terms_and_conditions.info_11_1') %></p>

<h4><%= t('terms_and_conditions.title_12') %></h4>
<p>
  <%= t('terms_and_conditions.info_12_1') %>
</p>
<p>
  <%= t('terms_and_conditions.info_12_2') %>
</p>

<h4><%= t('terms_and_conditions.title_13') %></h4>
<p>
  <%= t('terms_and_conditions.info_13_1') %><br />
  <%= t('terms_and_conditions.info_13_2') %>
</p>

<h4><%= t('terms_and_conditions.title_14') %></h4>
<p>
  <%= t('terms_and_conditions.info_14_1') %>
</p>

<h4><%= t('terms_and_conditions.title_15') %></h4>
<p><%= t('terms_and_conditions.info_15_1') %></p>
<p><%= t('terms_and_conditions.info_15_2') %></p>

<h4><%= t('terms_and_conditions.title_16') %></h4>
<p>
  <%= t('terms_and_conditions.info_16_1') %>
</p>
<p>
  <%= t('terms_and_conditions.info_16_2') %>
</p>
<p>
  <%= t('terms_and_conditions.info_16_3') %>
</p>

<h4><%= t('terms_and_conditions.title_17') %></h4>
<p>
  <%= t('terms_and_conditions.info_17_1') %>
</p>

<hr>

<h3><%= t('terms_and_conditions.privacy_title') %></h3>

<p><%= t('terms_and_conditions.privacy_intro') %></p>

<h4><%= t('terms_and_conditions.priv_title_1') %></h4>
<p>
  <ul>
    <li><%= t('terms_and_conditions.priv_info_1_1') %></li>
    <li><%= t('terms_and_conditions.priv_info_1_2') %></li>
    <li><%= t('terms_and_conditions.priv_info_1_3') %></li>
    <li><%= t('terms_and_conditions.priv_info_1_4') %></li>
  </ul>
</p>

<h4><%= t('terms_and_conditions.title_2') %></h4>
<p>
  <ul>
    <li><%= t('terms_and_conditions.priv_info_2_1') %></li>
    <li><%= t('terms_and_conditions.priv_info_2_2') %></li>
    <li><%= t('terms_and_conditions.priv_info_2_3') %></li>
    <li><%= t('terms_and_conditions.priv_info_2_4') %></li>
  </ul>
</p>

<h4><%= t('terms_and_conditions.priv_title_3') %></h4>
<p>
  <%= t('terms_and_conditions.priv_info_3_1') %>
</p>

  <h4><%= t('terms_and_conditions.priv_title_4') %></h4>
<p>
  <%= t('terms_and_conditions.priv_info_4_1') %>
</p>

<h4><%= t('terms_and_conditions.priv_title_5') %></h4>
  <p><%= t('terms_and_conditions.priv_info_5_1') %></p>
  <p><%= t('terms_and_conditions.priv_info_5_2') %></p>

<h4><%= t('terms_and_conditions.priv_title_6') %></h4>
<p>
  <%= t('terms_and_conditions.priv_info_6_1') %>
</p>
<p>
  <%= t('terms_and_conditions.priv_info_6_2') %>
</p>
<p>
  <%= t('terms_and_conditions.priv_info_6_3') %>
</p>
</div>