= form_for([:user, @faq]) do |f|
  - if @faq && @faq.errors.any?
    .alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong
        = t('admin.item.error_occurred', errors: pluralize(@faq.errors.count, 'error'))
        \:
      %ul
        - @faq.errors.full_messages.each do |msg|
          %li= msg
  - if action_name == 'edit'
    .form-group
      %a.btn.btn-danger.btn-delete-right.btn-setting{:href => "#"}= t('admin.item.delete_faq')
  .form-group
    = f.label :question, t('admin.question')+'*:', class:'control-label'
    .form-inline
      = f.text_field :question, class: 'form-control', maxlength:'90'
  .form-group
    = f.label :answer, t('admin.answer')+'*:', class: 'control-label'
    .form-inline
      = f.text_area :answer, class: 'form-control help-message', rows: 8, cols: 50
  / Submit button
  .form-actions
    = submit_tag(t('admin.save'), class: 'btn btn-success')
    %a.btn{:href => "/user/faqs"}= t('home.cancel')
  - if action_name == 'edit'
    / "Delete faq" modal window
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h3
              = t('admin.item.delete_faq')
              ?
          .modal-body
            %p= t('admin.delete_sure', entity: t('admin.question').downcase)
          .modal-footer
            %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
            = link_to t('admin.delete_confirm', entity: t('admin.question').downcase), user_faq_path(@faq), method: :delete, class: 'btn btn-danger'
