.row
  = render 'shared/admin_left_menu'
  #content.col-lg-10.col-sm-10
    / content starts
    %div
      %ul.breadcrumb
        %li
          %a{:href => "/user"}= t('admin.dashboard')
        %li
          %a{:href => "/user/faqs"}= t('admin.left_menu.manage_faq')
        %li= t('admin.edit_faq')
    .row
      .box.col-md-12
        .box-inner
          .box-header.well{"data-original-title" => ""}
            %h2
              %i.glyphicon.glyphicon-plus
              = t('admin.edit_faq')
          .box-content
            = render 'form'
        / /span
      / /row
      / content ends
