<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <!-- Success/Error flash messages -->
    <% if flash[:success] %>
        <div class="box-content alerts">
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:success] %>
          </div>
        </div>
    <% end %>

    <div>
      <ul class="breadcrumb">
        <li>
          <a href="/user"><%= t('admin.dashboard') %></a>
        </li>
        <li>
          <%= t('admin.left_menu.manage_faq') %>
        </li>
      </ul>
    </div>

    <%= t('admin.faq_message') %>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-question-sign"></i> <%= t('admin.left_menu.manage_faq') %></h2>
          </div>

          <div class="box-content">

            <p class="left">
              <a class="btn btn-success" href="/user/faqs/new">
                <i class="glyphicon glyphicon-plus icon-white"></i>
                <%= t('admin.add_faq') %>
              </a>
            </p>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID </th>
                <th><%= t('admin.question') %></th>
                <th><%= t('admin.answer') %></th>
                <% if current_user.super_admin? %>
                    <th><%= t('admin.actions') %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @faqs.each do |faq| %>
                  <tr>
                    <td class="vert-align"><%= faq.id %></td>
                    <td class="vert-align"><%= faq.question %></td>
                    <td class="vert-align"><%= faq.answer %></td>
                    <% if current_user.super_admin? %>
                        <td class="center"><a class="btn btn-info" href="/user/faqs/<%= faq.id %>/edit"> <i class="glyphicon glyphicon-pencil"></i> <%= t('admin.edit_delete') %> </a>
                    <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>

        </div>
      </div>

      <!-- content ends -->
    </div>
    <!--/#content.span10-->

  </div><!--/fluid-row-->

</div>
