<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li><a href="/user"><%= t('admin.dashboard') %></a></li>
        <li><a href="/user/managerecords"><%= t('admin.left_menu.manage_faq') %></a></li>
        <li><%= t('admin.add_faq') %></li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <i class="glyphicon glyphicon-plus"></i> <%= t('admin.add_faq') %>
            </h2>
          </div>
          <div class="box-content">

            <%= render 'form' %>

          </div>
        </div>
        <!--/span-->

      </div>
      <!--/row-->

      <!-- content ends -->
    </div>
    <!--/#content.span10-->
  </div>
  <!--/fluid-row-->
</div>
<!--/.fluid-container-->
