.main-container
  %h1= t('errors.oops')
  %h2= t('errors.server_error')
  %p= t('errors.500_sorry')
  .links
    %a{:href => "/"}
      = t('home.home')
    %a{:href => "/about"}
      = t('home.contact_us')
