<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li>
          <a href="/user"><%= t('admin.dashboard') %></a>
        </li>
        <li>
          <%= t('admin.left_menu.favorite_services') %>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <i class="glyphicon glyphicon-star"></i> <%= t('admin.left_menu.favorite_services') %>
            </h2>
          </div>

          <!-- Success/Error flash messages -->
          <% if flash[:setting_success] && flash[:setting_success] == 0 %>
              <div class="box-content alerts">
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= t('admin.general_settings.error_message') %>
                </div>
              </div>
          <% end %>
          <% if flash[:setting_success] && flash[:setting_success] == 1 %>
              <div class="box-content alerts">
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= t('admin.general_settings.success_message') %>
                </div>
              </div>
          <% end %>

          <div class="box-content row">
            <div class="col-xs-12">
                <span id="error_remove" style="color: red"></span>
                <% if @favorites.count > 0 %>
                  <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>
                    <tr>
                      <th><%= t('admin.item.ad_title') %></th>
                      <th><%= t('mailer.description') %></th>
                      <th style="min-width: 210px;"><%= t('admin.actions') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @favorites.each do |ad_favorite| %>
                        <tr>
                          <td class="vert-align"><%= link_to ad_favorite.title, service_path(ad_favorite.id) %></td>
                          <td class="vert-align"><%= ad_favorite.description[0..90] %>...</td>
                          <td class="center">
                            <%= link_to t('admin.see_service'), service_path(ad_favorite.id), class: 'btn btn-success', style: 'margin-right: 10px;' %>
                            <a class="btn btn-danger remove_favorite" href="#" id="<%= ad_favorite.id %>"> <%= t('general_js.remove') %> </a>
                          </td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <p><i><%= t('ad.no_favorite_yet') %></i></p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--/span-->

    </div>

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->
