- content_for :custom_stylesheet, 'page/root'
- content_for :custom_javascript, 'page/root'
%section.content#filter
  .search
    .search-input
      .search-group
        - if I18n.locale == :ka
          .en2ka
            .en2ka-switcher{title: t('.title.keyboard')}= 'KA'
            %input{type: 'text', placeholder: t('.placeholder.what'), title: t('.placeholder.what'), 'data-filter': 'what', value: filter[:what] }
        - else
          %input{type: 'text', placeholder: t('.placeholder.what'), title: t('.placeholder.what'), 'data-filter': 'what', value: filter[:what] }
        %input{type: 'submit', value: t('shared.search')}
  .filter-row1
    .search-input
      %input{id: "age-child", name: "age", type: "radio", value: "children", checked: filter[:age] == 'children', 'data-filter': 'age'}
      %label.child{for: "age-child"}
        %i{class: 'children'}
        = t('shared.filters.children')
      %input{id: "age-adult", name: "age", type: "radio", value: "adults", checked: filter[:age] == 'adults', 'data-filter': 'age'}
      %label.adult{for: "age-adult"}
        %i{class: 'adults'}
        = t('shared.filters.adults')
    .search-input
      = collection_select :filter, :region, Region.all.with_translations(I18n.locale), :id, :name, { selected: filter[:where].present? ? filter[:where] : nil}, { id: 'region_filter', 'data-filter': 'where', 'data-placeholder': t('.placeholder.where'), 'title': t('.placeholder.where'), multiple: true, style: 'display: none;' }
  .filter-row2
    .search-input
      = render partial: 'shared/favoritor', locals: { is_filter: true, is_favorite: filter[:favorite], label: t('.favorites'), title: filter[:favorite] ? t('.alt.show_all') : t('.alt.show_favorite') }
  .services
    %ul.toggleable-list
      - @services.select{|x| x.is_root?}.each_with_index do |root_service, i|
        %li.service{data: {id: root_service.id, children: root_service.for_children.to_s, adults: root_service.for_adults.to_s}}
          - services = @services.select{|x| x.parent_id == root_service.id}
          %a{name: "service-#{i+1}"}
            %i{class: root_service.icon}
            %span.name
              = root_service.name
              %span.service-count
            %span.caret
          - if services.present?
            %ul.toggleable-list-text.sub-services{class: (services.length > 7 ? 'sub-service-columns' : '') }
              - services.each do |service|
                %li{class: 'sub-service', data: {id: service.id, children: service.for_children.to_s, adults: service.for_adults.to_s}}
                  %span.name
                    = service.name
                    %span.service-count
                  -# if service.description.present?
                    #%span.description= service.description

    .results-container
      .results-service-name
        %i
        %span.caret
        %span.name
      .results

  .extra
    .info
      %a.hide-map.mobile-hidden{href: 'javascript:void(0);', 'toggle-view': :hide}
        %i
        = t('.hide_map')
      %a.show-map{href: 'javascript:void(0);', 'toggle-view': :show}
        %i
        = t('.show_map')
      / .count
      /   = 0
      /   %span= t('.result', count: 1)
    = render partial: "shared/footer", locals: { with_links: true }

%section.mapper.mobile-hidden
  .map-container
    #places_map.map
    .map-filter
      %input{type: :checkbox, name: 'filter_by_map', 'data-filter': 'map', id: 'by_map', checked: (filter[:map].present? ? 'checked' : nil), 'data-m': filter[:map].to_s }
      %label{for: 'by_map'}= t('.filter.by_map')
    .map-zoomer
      .in{'data-map': 'locator_map'} +
      .hr
      .out{'data-map': 'locator_map'} −
= render partial: "shared/footer", locals: { klass: 'light' }
