= content_for :custom_stylesheet, 'page/root'
= content_for :custom_javascript, 'page/root'
%section.content
  .search
    #what.filter-input
      %label=t('.what')
      %input{type: 'text', placeholder: 'Type Service Name or Description'}
    .bar
    #where.filter-input
      %label=t('.where')
      %input{type: 'text', placeholder: 'Type Region or City'}
    %input{type: 'submit', value: 'Search'}
  .filters
    %ul
      %li.prompt
        %label=t('.filters')
        = image_tag(asset_path("svg/filter.svg"), alt: t('.alt.filter'), title: t('.alt.filter'))
      %li.by-service.filter-input.collapsed
        .inner-left-border
        .toggle
          %label=t('.services')
          .filter-caret
        %ul.list
          - filtered_services = filter[:services]
          - filtered_services.each do |service_id|
            - service = Service.find(service_id)
            - if service.present?
              %li.service{ 'data-id': service_id }
                %i{ class: service.icon }
                %span=service.name
                .close
        .input-group{'data-set-max-height': 'parent' }
          %ul.services
            - Service.all.each do |service|
              %li.service{ class: (filtered_services.index(service.id).present? ? 'hidden' : nil), 'data-id': service.id }
                %i{ class: service.icon }
                %span=service.name
          .button-group
            %button.reset=t('.cancel')
            %button.apply=t('.apply')
        .inner-right-border
      %li.by-rate
        = render partial: 'shared/rator'
      %li.by-favorite
        %label=t('.favorites')
        .favoritor
  .results
    .map-view
    .records
      - ln = results.length #recods.length
      = ln
      %span= t('.result', count: ln)
  .place-cards
    - results.in_groups_of(2).each do |place_group|
      .row
        - if place_group[0].present?
          = render partial: 'shared/place', locals: { place: place_group[0] }
          - if place_group[1].present?
            = render partial: 'shared/place', locals: { place: place_group[1] }
    = render partial: "shared/footer", locals: { with_links: true }
%section.mapper
  .map-container
    #places_map.map
    .map-filter
      %input{type: :checkbox, name: 'filter_by_map', 'data-filter': :map, id: 'filter_by_map' }
      %label{for: 'filter_by_map'}= t('.filter.by_map')
    .map-zoomer
      .in{'data-map': 'locator_map'} +
      .hr
      .out{'data-map': 'locator_map'} −
