= content_for :custom_stylesheet, 'page/place'
= content_for :custom_javascript, 'page/place'
%section.content
  .summary-wrapper
    .summary
      .name
        = item.name
      .provider-name
        %span #{"by "}
        = item.provider.name
      %ul.services
        = item.services.map { |s| "<li class='service'><i class='#{s.icon}'></i><span>#{s.name}</span></li>" }.join("").html_safe
      %ul.contact
        - if item.address.present?
          %li
            %span.icon.address
            = item.address
        - if item.phone.present?
          %li
            %span.icon.phone
            = item.phone
        - if item.website.present?
          %li
            %span.icon.website
            = item.website
    .place-map
      .corner
        %img{src: asset_path("svg/corner2.svg")}
      = render partial: "shared/rating", locals: { rating: item.rating }
      .map-container
        #place_map.map{ 'data-latitude': item.latitude, 'data-longitude': item.longitude }
        .map-zoomer
          .in{'data-map': 'place_map'} +
          .hr
          .out{'data-map': 'place_map'} −
  .details-wrapper
    %section.details
      %ul.action-bar
        %li
          = render partial: 'shared/favoritor', locals: { is_favorite: is_favorite_place, href: place_path(id: item.id, a: 'favorite', v: !is_favorite_place), label: is_favorite_place ? t('.remove_from_favorite') : t('.add_to_favorite') }
        %li
          = render partial: "shared/rating", locals: { rating: item.rating, with_label: true, klass: 'mobile' }
        %li
          = render partial: 'shared/rator'
        %li
          %a.report{'data-action': 'report'}
            =t('.report')
        %li
          %a.take-ownership{'data-action': 'ownership'}
            =t('.take_ownership')
        %li
          .share
            %label=t('.share')
            %a.facebook{target: '_blank', href: "https://www.facebook.com/sharer/sharer.php?u=#{current_url}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" }
            %a.twitter{target: '_blank', href: "https://twitter.com/share?url=#{current_url}&text=#{item.name}#{item.description}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" }
      %ul.info
        %li
          .description
            = @post_action
            = item.description
        %li
          .tags
            .header= t('.service_tags')
            = item.tags.map { |s| "<a>#{s.name}</a>" }.join(", ").html_safe
        %li
          .hr
        %li
          .photos
            photos
        %li
          .contact
          .header=t('.contact_service_provider')
          .form-container.wide
            %form{action: send_message_path, method: :post, 'data-remote': true, id: 'invisible-recaptcha-form', class: 'simple_form light column'}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .fields-column
                .field-wrapper
                  %label.field-label{for: 'message_sender'}
                    =t('.your_name')
                    %abbr{title: 'required'} *
                  %input.field-input{type: 'text', name: 'message[sender]', id: 'message_sender'}
                .field-wrapper
                  %label.field-label{for: 'message_email'}
                    =t('.your_email')
                    %abbr{title: 'required'} *
                  %input.field-input{type: 'email', name: 'message[email]', id: 'message_email'}
              .fields-column.fill
                .field-wrapper
                  %label.field-label{for: 'message_text'}
                    =t('.your_message')
                    %abbr{title: 'required'} *
                  %textarea.field-input{rows: 8, name: 'message[text]', id: 'message_text'}
              .fields-column.bottom
                .actions
                  = invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: t('.send'), badge: 'inline', hl: I18n.locale
        %li
          .hr
        %li
          .comment
            .header=t('.comments')
    %section.photos
      .upload
        %img{src: asset_path("svg/upload.svg") }
        Upload your image
      .picture
      .picture
      .picture
= render partial: "shared/footer", locals: { with_links: true }
