- page_title item.name
- if item.description.present?
  - content_for(:page_desc) { item.description }
- if item.poster_id.present?
  - content_for(:meta_image) do
    %meta{:property => "og:image", :content => item.poster_url}

- content_for :custom_stylesheet, 'page/place'
- content_for :custom_javascript, 'page/place'
- if !Rails.env.development?
  - content_for :inline_javascript do
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=240650056418235";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
%section.content{'data-place-id': item.id}
  .summary-wrapper
    .summary
      .name
        = item.name
      - if item.director.present?
        .director
          %strong= t('shared.director') + ':'
          = item.director
      %ul.address
        %li
          %strong= t('shared.region') + ':'
          = item.region.name
        %li
          %strong= t('shared.municipality') + ':'
          = item.municipality.name
        - if item.city.present?
          %li
            %strong= t('shared.city_village') + ':'
            = item.city
      %ul.contact
        - if item.address.present?
          %li
            %i.address
            %span= item.address
        - if item.all_phones.present?
          %li
            %i.phone2
            %span= item.all_phones
        - if item.website.present?
          %li
            %i.website
            %a{href: item.website, target: :_blank }>= item.get_domain(item.website)
        - if item.facebook.present?
          %li
            %i.fb
            %a{href: item.facebook, target: :_blank }>= item.get_domain(item.facebook)
    .place-map
      .corner
        %img{src: asset_path("svg/corner2.svg")}
      .map-container
        #place_map.map{ 'data-latitude': item.latitude, 'data-longitude': item.longitude }
        .map-zoomer
          .in{'data-map': 'place_map'} +
          .hr
          .out{'data-map': 'place_map'} −
  .details-wrapper
    %section.details
      %ul.action-bar
        %li
          = render partial: 'shared/favoritor', locals: { is_favorite: is_favorite_place, href: place_path(id: item.id, a: 'favorite', v: !is_favorite_place), href_template: place_path(id: item.id, a: 'favorite', v: '_v_'), label: is_favorite_place ? t('shared.unfavorite') : t('shared.favorite') }
        %li
          = render partial: "shared/rating", locals: { rating: item.get_rating, with_label: true }
          %div
            = render partial: 'shared/rator', locals: {rator: {'data-href-template': place_path(id: item.id, a: 'rate', v: '_v_'), 'data-xhr-redirected': 'rator', 'data-xhr-format': 'json', 'data-r': user_rate }}
        %li
          .share
            %label=t('.share')
            %a.facebook{target: '_blank', href: "https://www.facebook.com/sharer/sharer.php?u=#{current_url}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" }
            %a.twitter{target: '_blank', href: "https://twitter.com/share?url=#{current_url}&text=#{item.name}#{item.description}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" }
      .place-services
        %h2= t('shared.services')
        - place_services = item.place_services.sort_by{|x| x.service.name}
        - if place_services.present?
          .service-tabs
            - place_services.each do |place_service|
              .service-tab{data: {'service-id': place_service.service_id}, class: (place_service.service_id.to_s == params[:service] ? 'active' : '')}= place_service.service.name
          .service-panels
            - place_services.each do |place_service|
              .service-panel
                %h3= place_service.service.name
                .service-content{data: {'service-id': place_service.service_id}, style: (place_service.service_id.to_s == params[:service] ? 'display:block' : '')}
                  / .block-column
                  .block.has-content
                    %h4= t('.service.description')
                    = simple_format(place_service.description)
                  .block.has-content
                    %h4= t(".service.restricted_geographic_area.#{place_service.is_restricited_geographic_area}")
                    - if place_service.is_restricited_geographic_area
                      %ul
                        - place_service.municipalities.each do |muni|
                          %li= muni.name
                  .block.has-content
                    %ul
                      - if place_service.is_service_type_municipal?
                        %li= t('.service.municipality')
                      - if place_service.is_service_type_state?
                        %li= t('.service.state')
                      - if place_service.is_service_type_private_org?
                        %li= t('.service.private_org')

                  / .block-column
                  .block{class: place_service.has_age_restriction ? 'has-content' : ''}
                    %h4= t(".service.age_restriction.#{place_service.has_age_restriction}")
                    - if place_service.has_age_restriction
                      %ul.inline
                        - place_service.age_groups_formatted.each do |age|
                          %li= age

                  .block{class: place_service.can_be_used_by_diagnosis_without_status? && place_service.diagnoses.present? ? 'has-content' : ''}
                    %h4= t(".service.can_be_used_by.#{place_service.can_be_used_by}")
                    - if place_service.can_be_used_by_diagnosis_without_status? && place_service.diagnoses.present?
                      %ul
                        - place_service.diagnoses.each do |diagnosis|
                          %li= diagnosis
                  - if place_service.service_activities.present?
                    .block.has-content
                      %h4= t('.service.service_activities')
                      %ul
                        - place_service.service_activities.each do |activity|
                          %li= activity
                  - if place_service.service_specialists.present?
                    .block.has-content
                      %h4= t('.service.service_specialists')
                      %ul
                        - place_service.service_specialists.each do |specialist|
                          %li= specialist
                  - if !place_service.need_finance.nil?
                    .block
                      %h4= t(".service.need_finance.#{place_service.need_finance}")
                  - if place_service.get_involved_link.present?
                    .block.has-content
                      %h4= t('.service.get_involved_link')
                      =auto_link(simple_format(place_service.get_involved_link), link: :urls, :html => { :target => '_blank' })
        - else
          .no-data-found= t('shared.no_service_data_found')
      %ul.info-old{style: 'display: none'}
        %li
          .description
            = @post_action
            = item.description
        - tags = item.tags.accepted
        - if tags.present?
          %li
            .tags
              .header= t('.service_tags')
              = tags.map { |s| "<a href='#{root_path(what: s.name)}'>#{s.name}</a>" }.join(", ").html_safe
        / %li
        /   .hr
        / %li
        /   .contact
        /     .header=t('.contact_place', provider: item.name)
        /     .form-container.wide
        /       %form{action: send_message_path(item.id), method: :post, id: 'invisible-recaptcha-form', class: 'simple_form light column'}
        /         = hidden_field_tag :authenticity_token, form_authenticity_token
        /         .fields-column
        /           .field-wrapper
        /             %label.field-label{for: 'message_sender'}
        /               =t('.your_name')
        /               %abbr{title: 'required'} *
        /             %input.field-input{type: 'text', name: 'message[sender]', id: 'message_sender'}
        /           .field-wrapper
        /             %label.field-label{for: 'message_email'}
        /               =t('.your_email')
        /               %abbr{title: 'required'} *
        /             %input.field-input{type: 'email', name: 'message[email]', id: 'message_email'}
        /         .fields-column.fill
        /           .field-wrapper
        /             %label.field-label{for: 'message_text'}
        /               =t('.your_message')
        /               %abbr{title: 'required'} *
        /             %textarea.field-input{rows: 8, name: 'message[text]', id: 'message_text'}
        /         .fields-column.bottom
        /           .actions
        /             = invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: t('.send'), badge: 'inline', hl: I18n.locale
        %li
          .hr
        %li
          .comment
            .header=t('.comments')
            .fb-comments{'data-numposts': 5, width: '992px'}
    %hr.photos-line
    %section.photos.slides
      - item.assets_sorted.each do |asset|
        .photo
          = image_tag asset.image.url(:thumb), 'data-slide': asset.image.url(:normal)
= render partial: "shared/footer", locals: { with_links: true, klass: 'light' }
