= content_for :custom_stylesheet, 'page/place'
= content_for :custom_javascript, 'place'

%article.content
  %section.summary-wrapper
    .summary
      .name
        = item.name
      .provider-name
        %span #{"by "}
        = item.provider.name
      %ul.services
        = item.services.map { |s| "<li><span class='icon #{s.icon}'></span>#{s.name}</li>" }.join("").html_safe
      %ul.contact
        %li
          %span.icon.address
          = item.address
        %li
          %span.icon.phone
          = item.phone
        %li
          %span.icon.website
          = item.website
    .place-map.map-container
      .corner
        %img{src: asset_path("svg/corner2.svg")}
      .rating
        %span.icon.heart
        %span.value=item.rating
        %span /5
      #place_map_container{ 'data-latitude': item.latitude, 'data-longitude': item.longitude }
      .map_zoom
        #map_zoom_in.in +
        .hr
        #map_zoom_out.out −
  %section.details-wrapper
    %section.details
      %section.action-bar
        %a.favoritize{ href: 'favoritize' , 'data-trigger': user_signed_in? ? nil : 'sign_in', remote: user_signed_in? ? true : nil }
          =t('.add_to_favorite')
        %a.rating
          =t('.rating')
          .value
            =item.rating
            %span /5
        %a.rate
          =t('.rate')
          .rator{"data-r": 3}
            .heart{"data-r": 1}
              %i
              .heart{"data-r": 2}
                %i
                .heart{"data-r": 3}
                  %i
                  .heart{"data-r": 4}
                    %i
                    .heart{"data-r": 5}
                      %i
            .close
        %a.report
          =t('.report')
        %a.take-ownership
          =t('.take_ownership')
        .share
          =t('.share')
          %a.facebook
          %a.twitter
      %section.info
        .description
          = item.description
        .tags
          %span= t('.service_tags')
          = item.tags.map { |s| "<a>#{s.name}</a>" }.join(", ").html_safe
        .hr
        .photos
          photos
        .contact
          .subheader=t('.contact_service_provider')
          %form{action: send_message_path, method: :post, 'data-remote': true, id: 'invisible-recaptcha-form'}
            = hidden_field_tag :authenticity_token, form_authenticity_token
            .row
              .column
                .group
                  .field
                    %label
                      =t('.your_name')
                      %span.required *
                    %input{type: 'text', name: 'message[sender]', id: 'message_sender'}
                  .field
                    %label
                      =t('.your_email')
                      %span.required *
                    %input{type: 'email', name: 'message[email]', id: 'message_email'}
              .column
                .field
                  %label
                    =t('.your_message')
                    %span.required *
                  %textarea{rows: 10, name: 'message[text]', id: 'message_text'}
              .column.bottom
                = invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: t('.send'), badge: 'inline', hl: I18n.locale
        .hr
        .comment
          Comments
    %section.photos
      .upload
        %img{src: asset_path("svg/upload.svg") }
        Upload your image
      .picture
      .picture
      .picture
= render partial: "shared/footer", locals: { with_links: true }
