- with_rator ||= false
.place-card{'data-place-id': place.id}
  .card-border
    .card
      .front
        .poster
          - title = t('app.common.alt', alt: place.name)
          = link_to image_tag(asset_path("png/missing.png"), alt: title, title: title, class: 'image'), place_path(place.id)
          .favorite{title: t('shared.picked_as_favorite')}
          = render partial: "shared/rating", locals: { rating: place.get_rating }
        .place-info
          = link_to place.name, place_path(place.id), class: 'name'
          .provider
            %span #{"by "}
            = link_to place.provider.name, root_path, 'data-filter': "provider=#{place.provider.id}"
          - ss = place.services
          - if ss.length >= 1
            - s = ss.first
            .first-service.service
              %i{ class: s.icon }
              %span=s.name
              - if ss.length > 1
                .ellipsis
          %ul.contact
            %li
              %span.icon.address
              = place.address
            %li
              %span.icon.phone
              = place.phone
      - if place.services.length > 1
        .back.hidden
          .close
          %ul.services
            = place.services.map { |s| "<li class='service'><i class='#{s.icon}'></i><span>#{s.name}</span></li>" }.join("").html_safe
  - if with_rator
    = render partial: 'shared/rator'
