<p><%= t('mailer.hello', name: @user['first_name']) %></p>

<p><%= t('mailer.welcome', name: @site_name) %></p>

<p><%= t('mailer.account_created', name: @site_name) %></p>

<p><%= link_to t('mailer.confirm_account'), confirmation_url(@resource, confirmation_token: @token) %></p>

<p><%= t('mailer.as_soon_as') %></p>

<% if @user['is_service_provider'] %>
    <p>
      <%= t('mailer.register') %>
      <ol>
        <li><%= t('mailer.register_1') %></li>
        <li><%= t('mailer.register_2') %></li>
        <li><%= t('mailer.register_3') %></li>
      </ol>
    </p>
<% end %>

<p><%= t('mailer.need_assistance') %><br/>
<%= t('mailer.phone_number') %>
</p>

<p><%= t('mailer.thanks', name: @site_name) %></p>