= t('mailer.hello', name:  @resource.first_name)
\
= t('mailer.someone_requested')
\
= "#{t('mailer.change_my_password')}: #{edit_user_password_url(reset_password_token: @token, locale: I18n.locale)}"
\
%p= t('mailer.please_ignore')
\
%p= t('mailer.password_not_changing')
