%p= t('mailer.hello', name:  @resource.first_name)
%p= t('mailer.someone_requested')
%p
  = "#{t('mailer.change_my_password')}: "
  = link_to edit_user_password_url(reset_password_token: @token, locale: I18n.locale), edit_user_password_url(reset_password_token: @token, locale: I18n.locale)
%p= t('mailer.please_ignore')
%p= t('mailer.password_not_changing')
