%p= t('mailer.hello', name:  @resource.email)
%p= t('mailer.account_locked')
%p
  = t('mailer.link_unlock')
  \:
%p
  ="#{t('mailer.unlock_account')}: "
  = link_to unlock_url(@resource, unlock_token: @token), unlock_url(@resource, unlock_token: @token)
