- page_title(t('.title'))
= content_for :custom_javascript, 'page/registration'
.form-container{class: @form_container_class}
  = simple_form_for [:manage, current_user], html: { class: @form_class } do |f|
    -# .header= t('.sign_up')
    = devise_error_messages!
    = render partial: 'shared/fields_localization', locals: { fields: { first_name: nil, last_name: nil } , form: f }
    .fields-group
      = f.input :username
      = f.input :email, required: true
      = f.input :password, input_html: { autocomplete: 'off' }, required: true
      = f.input :password_confirmation, input_html: { autocomplete: 'off' }, required: true

    .fields-group
      = f.input :is_service_provider, as: :radio_buttons
      = f.simple_fields_for :providers do |provider|
        = render partial: 'shared/fields_localization', locals: { fields: { name: nil, description: { as: :text, input_html: { rows: 4 } } } , form: provider, container_options: { style: 'display:none;', id: 'user_providers' } }
      .actions
        .action-group
          = f.submit t("app.common.register"), :disabled => true
          = f.submit t("app.common.cancel"), type: :reset
