.form-container{class: @form_container_class}
  = simple_form_for obj, url: url, html: { class: @form_class } do |f|
    = devise_error_messages!
    = f.input :redirect_default, as: :hidden, input_html: { value: redirect_default }
    .fields-group
      = f.input :first_name, required: true
      = f.input :last_name, required: true
    .fields-group
      = f.input :email, label: User.human_attribute_name(:email), required: true
      = f.input :password, input_html: { autocomplete: 'off' }, label: User.human_attribute_name(:password), required: true
      = f.input :password_confirmation, label: User.human_attribute_name(:password_confirmation), input_html: { autocomplete: 'off' }, required: true
    - if f.object.new_record? || f.object.user?
      .fields-group
        = f.input :is_service_provider, as: :radio_buttons
    - if current_user.admin? && !f.object.admin?
      .fields-group
        = f.input :promote, as: :boolean, label: t("admin.user.promote"), checked_value: true, unchecked_value: false
    - if f.object.new_record?
      .fields-group
        = f.input :has_agreed, as: :boolean, label: t("admin.user.has_agreed_html", link: link_to(t('app.common.terms_of_use'), terms_of_use_path)), checked_value: true, unchecked_value: false
    .actions
      .action-group
        = f.submit t("app.common.reset"), type: :reset
        = f.submit t("app.common.save")

