.fields
  .field
    %label Name and Surname:
    %span.value #{current_user.name}
  .field
    %label Username:
    %span.value #{current_user.username}
  .field
    %label Email:
    %span.value #{current_user.email}
  .field
    %label Service Provider:
    %span.value #{current_user.provider? ? 'Yes' : 'No'}
.actions
  = link_to 'Edit Profile Information', manage_user_profile_path(edit: true), class: 'edit'
