- title = t('admin.shared.manage_model', name: @model.human(2))
- page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title], buttons: [[t('admin.shared.add_model', name: @model.human ), new_manage_user_path, 'add']] }
.table-view
  %table.datatable.datatable-table.table-responsive{width: '100%'}
    %thead
      %tr
        %th.spacer{'data-orderable': 'false'}
        %th= @model.human_attribute_name(:name)
        %th= @model.human_attribute_name(:email)
        %th.fill= @model.human_attribute_name(:role)
        %th.actions{'data-orderable': 'false'}= t('admin.shared.actions')
    %tbody
      - @items.each do |item|
        %tr
          %td
          %td= item.name
          %td= item.email
          %td= item.role_name
          %td.actions
            = link_to t('admin.shared.edit'), edit_manage_user_path(item.id), class: 'edit'
            - if item.deleted?
              = link_to t('admin.shared.restore'), restore_manage_user_path(item.id), method: :patch, class: 'restore btn', data: {confirm: t('admin.shared.confirm_restore_model', name: @model.human) }
            - else
              = link_to t('admin.shared.delete'), manage_user_path(item.id), method: :delete, class: 'delete', data: {confirm: t('admin.shared.confirm_delete_model', name: @model.human) }
