%dialog
  .dialog-content
    .dialog-close
      = link_to image_tag("/assets/svg/close_modal.svg", alt: t('.alt.close'), title: t('.alt.close')), 'javascript:void(0);'
    .dialog-page{'data-bind': 'about' }
      .header.about= @about_page.title
      .text
        = @about_page.content.html_safe
      .hr-wrapper
        .hr
      .header.partners= t('.partners')
      .partners-list
        = link_to image_tag("/assets/svg/mac_color.svg", alt: t('app.common.mac_alt'), title: t('app.common.mac_alt')).html_safe, "http://www.macgeorgia.org/", target: '_blank'
        = link_to image_tag("/assets/svg/js_color.svg", alt: t('app.common.js_alt'), title: t('app.common.js_alt')).html_safe, "https://jumpstart.ge/#{I18n.locale}", target: '_blank'
    .dialog-page{ 'data-bind': 'contact' }
      .header= t('.contact')
      .boxes
        .box.info
          .name= t('.org')
          .info-item
            %p
              = image_tag("/assets/svg/address.svg", alt: t('.alt.address'), title: t('.alt.address'))
              %span= t('.address')
              = t('.address_content')
          .info-item
            %p
              = image_tag("/assets/svg/phone.svg", alt: t('.alt.phone'), title: t('.alt.phone'))
              %span= t('.phone')
              = t('.phone_content')
          .info-item
            %p
              = image_tag("/assets/svg/email.svg", alt: t('.alt.email'), title: t('.alt.email'))
              %span= t('.email')
              = t('.email_content')
        .box.map-point
          .map-box
            #contact_map
            .contact_map_zoom
              #contact_map_zoom_in.in +
              .hr
              #contact_map_zoom_out.out −
