%main{class: @class}
  - if @is_admin_profile_page
    %section.aside
      %ul
        %li
          %span= t('shared.manage')
          %ul
            - [:users, :providers, :places, :services, :page_contents].each do |pth|
              %li
                = link_to t("admin.menu.#{pth}"), public_send("manage_#{pth}_path"), class: controller_name?(pth) ? 'current' : nil
        %li
          %span= t('shared.moderate')
          %ul
            - [:reported_places, :place_ownership, :new_provider, :place_tags].each do |pth|
              %li
                - Rails.logger.debug("-----------------------------------------#{controller_name}")
                = link_to t("admin.menu.#{pth}"), public_send("manage_moderate_#{pth}_path"), class: action_name?(pth) ? 'current' : nil
    %section.content
      = yield
      = render partial: "shared/footer"
  - else
    = yield
