%main{class: @class}
  - if @is_admin_profile_page
    - space = false
    %section.aside
      %ul
        %li
          %span= t('shared.manage')
          %ul
            / - [:users, :providers, :places, :services, :page_contents, :resources, :resource_items].each do |pth|
            - [:users, :places, :services, :page_contents, :resources, :resource_items].each do |pth|
              - space = true if controller_name?(pth)
              %li
                = link_to t("admin.menu.#{pth}"), public_send("manage_#{pth}_path"), class: controller_name?(pth) ? 'current' : nil
        %li
          %span= t('shared.moderate')
          %ul
            / - [:place_report, :place_ownership, :new_provider, :place_tag].each do |pth|
            - [:place_report, :place_ownership, :place_tag].each do |pth|
              %li
                = link_to t("admin.menu.#{pth}"), public_send("manage_moderate_#{pth}_path"), class: action_name?(pth) ? 'current' : nil
    %section.content{class: space ? 'space' : nil}
      = yield
      = render partial: "shared/footer"
  - else
    = yield
