%nav
  .nav-container
    .nav-left
      = link_to image_tag("/assets/svg/logo_#{I18n.locale}.svg", alt: t('.logo_alt'), title: t('.logo_alt')).html_safe, root_path, class: 'nav-brand'
      .nav-toggle
        %button{ type: 'submit', class: "nav-toggle-button collapsed", 'data-toggle': 'collapse', 'aria-expanded': false, 'data-target': 'nav-toggle-target' }
          %span.helper Toggle navigation
          .toggle
    #nav-toggle-target.nav-right
      .nav-menu
        = link_to t('.about'), 'javascript:void(0);', class: 'nav-menu-item border-right', 'data-dialog-link': 'about'
        = link_to t('.faq'), faq_path, class: 'nav-menu-item border-both'
        = link_to t('.contact'), 'javascript:void(0);', class: 'nav-menu-item border-left', 'data-dialog-link': 'contact'
      .nav-social
        = link_to image_tag("/assets/svg/facebook.svg", alt: t('.facebook_alt'), title: t('.facebook_alt')), root_path, class: 'facebook'
        = link_to image_tag("/assets/svg/twitter.svg", alt: t('.twitter_alt'), title: t('.twitter_alt')).html_safe, root_path, class: 'twitter'
      .nav-user
        - if !user_signed_in?
          .guest
            = link_to t('.sign_up'), new_user_registration_path, class: 'sign-up'
            .slash /
            = link_to t('.sign_in'), new_user_session_path, class: 'sign-in'
        - else
          .user
            = link_to '#', class: 'nav-user-menu-link' do
              = image_tag("/assets/svg/user.svg", alt: t('.logo_alt'), title: t('.logo_alt'), class: 'user-icon')
              .user-name #{current_user.name}
              .caret
            .user-menu
              - if current_user.user?
                %ul.first
                  %li.sans
                    %span.header User Profile
                    %ul
                      %li
                        = link_to t('admin.menu.manage_profile'), manage_user_profile_path(edit: true)
                      %li
                        = link_to t('admin.menu.favorite_places'), manage_user_profile_path(type: 'favorite-places')
                      %li
                        = link_to t('admin.menu.rated_places'), manage_user_profile_path(type: 'rated-places')
                      %li
                        = link_to t('admin.menu.uploaded_photos'), manage_user_profile_path(type: 'uploaded-photos')
                  - if current_user.provider?
                    %li.sans
                      %span.header Provider Profile
                      %ul
                        %li
                          = link_to t('admin.menu.manage_provider'), manage_provider_profile_path(type: 'manage-provider')
                        %li
                          = link_to t('admin.menu.manage_places'), manage_provider_profile_path(type: 'manage-places')
                        %li
                          = link_to t('admin.menu.moderate_photos'), manage_provider_profile_path(type: 'moderate-photos')
                  - if current_user.admin?
                    %li.sans
                      %span.header Admin Profile
                      %ul
                        %li.sans
                          %span.subheader Manage
                          %ul
                            %li
                              = link_to t('admin.menu.users'), root_path
                            %li
                              = link_to t('admin.menu.providers'), root_path
                            %li
                              = link_to t('admin.menu.places'), root_path
                            %li
                              = link_to t('admin.menu.categories'), root_path
                            %li
                              = link_to t('admin.menu.text_pages'), root_path
                            %li
                              = link_to t('admin.menu.settings'), root_path
                        %li.sans
                          %span.subheader Moderate
                          %ul
                            %li
                              = link_to t('admin.menu.reported_places'), root_path
                            %li
                              = link_to t('admin.menu.place_ownership'), root_path
                            %li
                              = link_to t('admin.menu.new_provider'), root_path
                            %li
                              = link_to t('admin.menu.place_tags'), root_path
                %hr
                %ul.last
                  %li.sans
                    = link_to t('.log_out'), destroy_user_session_path, :method => :delete
      .nav-lang
        = link_to 'English', url_for(locale: :en), class: "#{I18n.locale == :en ? 'active' : ''}", lang: :en
        = link_to 'ქართული', url_for(locale: :ka), class: "#{I18n.locale == :ka ? 'active' : ''}", lang: :ka
      .nav-links
        = link_to 'Privacy Policy', privacy_policy_path
        = link_to 'Terms of Service', terms_of_service_path
