= stylesheet_link_tag "application/font_#{I18n.locale}", media: 'all'
= stylesheet_link_tag 'application', media: 'all'

- if @is_admin
  = stylesheet_link_tag 'page/admin', media: 'all'

- if content_for? :custom_stylesheet
  = stylesheet_link_tag yield(:custom_stylesheet), media: 'all'
