.form-group
  = form.label field, t("#{translate_path}"), class: 'control-label'
  - options[:items].each_with_index do |item, item_i|
    .radio
      = form.radio_button field, item, {checked: item == options[:default]}
      = form.label(field, item, value: item) do
        %span
        = t("#{options[:translate_path]}#{options[:item_translations][item_i]}")
