- content_for :custom_stylesheet, 'page/page_content'
- content_for :custom_javascript, 'page/page_content'
.form-container{class: @form_container_class}
  = simple_form_for obj, html: { class: @form_class } do |f|
    = devise_error_messages!
    = render partial: 'shared/fields_localization', locals: { fields: { title: nil, header: nil, content: { as: :text, input_html: { rows: 10, style: 'width: 100%' } },  } , form: f }
    %label.list-header= t('admin.page_contents.list')
    - locales = I18n.available_locales
    .fields-localization.wide
      .tabs{'data-target': 'localization'}
        .d.d1
        %label=t('shared.fields_localization')
        .d.d2
        - locales.each_with_index do |locale, locale_i|
          = link_to t("app.languages.#{locale}"), 'javascript:void(0);', class: "tab-link#{I18n.locale == locale ? ' active' : ''}", 'data-link': locale
          - if locale_i != locales.length-1
            .d.d3
        .d.d4
      .tabs-content{'data-target': 'localization' }
        %ul.page-content-list-wrapper{'data-initial-length': f.object.page_content_items.length}
          - lists = {}
          - orders = []
          -ids = []
          - locales.each do |locale|
            - lists[locale] = []
          = f.simple_fields_for :page_content_items, include_id: true do |page_content_item|
            - ids << capture_haml do
              = page_content_item.input :id, as: :hidden, wrapper: false, input_html: { id: nil }
            - orders << capture_haml do
              = page_content_item.input :order, as: :hidden, wrapper: false, input_html: { id: nil }
            - locales.each_with_index do |locale|

              - lists[locale] << capture_haml do
                %li{'data-index': page_content_item.index}
                  .toggle-wrapper
                    %span.sort
                    %a.toggle{href: 'javascript:void(0);'}
                      = page_content_item.object.send("title_#{locale}")
                      %span.caret
                    .actions
                      = link_to t('admin.shared.delete'), 'javascript:void(0);', 'data-index': page_content_item.index, class: 'delete btn'
                  .page-content-list-text
                    = page_content_item.input :"title_#{locale}", input_html: { id: nil }, label: false, placeholder: PageContentItem.human_attribute_name(:title)
                    = page_content_item.input :"content_#{locale}", as: :text, input_html: { rows: 6, id: nil, class: 'tinymce-limited' }, wrapper_html: {class: 'fill'}, label: false, placeholder: PageContentItem.human_attribute_name(:content)

          - locales.each_with_index do |locale|
            - is_current_locale = I18n.locale == locale
            %li{class: is_current_locale ? 'active' : nil, 'data-link': locale}
              %ul.sortable.page-content-list
                - lists[locale].each do |d|
                  = d
          .ids
            - ids.each do |d|
              = d

          .orders
            - orders.each do |d|
              = d
    %a#add_page_content_list_item.btn.add{href:'javascript:void(0);'}= t('admin.shared.add_model', name: PageContentItem.human)
    .actions
      .action-group
        = f.submit t("app.common.reset"), type: :reset
        = f.submit t("app.common.save")
