.form-container{class: @form_container_class}
  = simple_form_for obj, html: { class: @form_class } do |f|
    = devise_error_messages!
    = render partial: 'shared/fields_localization', locals: { fields: { title: nil, header: nil, content: { as: :text, input_html: { rows: 10, style: 'width: 100%' } },  } , form: f }
    %label.list-header= t('admin.page_contents.list')
    - locales = I18n.available_locales
    .fields-localization.wide
      .tabs{'data-target': 'localization'}
        .d.d1
        %label=t('shared.fields_localization')
        .d.d2
        - locales.each_with_index do |locale, locale_i|
          = link_to t("app.languages.#{locale}"), 'javascript:void(0);', class: "tab-link#{I18n.locale == locale ? ' active' : ''}", 'data-link': locale
          - if locale_i != locales.length-1
            .d.d3
        .d.d4
      .tabs-content{'data-target': 'localization' }
        %ul
          - locales.each_with_index do |locale|
            - is_current_locale = I18n.locale == locale
            %li{class: is_current_locale ? 'active' : nil, 'data-link': locale}
              %ul.sortable.toggleable-list
                = f.simple_fields_for :page_content_items do |page_content_item|
                  %li
                    %a.toggle
                      = page_content_item.object.send("title_#{locale}")
                      %span.caret
                    .actions
                      = link_to t('admin.shared.delete'), root_path, class: 'edit'
                    .toggleable-list-text{style: 'display: none;'}
                      = page_content_item.input :"title_#{locale}", label: false, placeholder: PageContentItem.human_attribute_name(:title)
                      = page_content_item.input :"content_#{locale}", as: :text, input_html: { rows: 4 }, wrapper_html: {class: 'fill'}, label: false, placeholder: PageContentItem.human_attribute_name(:content)


    .actions
      .action-group
        = f.submit t("app.common.reset"), type: :reset
        = f.submit t("app.common.save")
