- title = t('admin.page_contents.manage')
- page_title title
= render partial: 'shared/breadcrumbs', locals: { paths: [title] }
.table-view
  %table.datatable.datatable-table.table-responsive{width: '100%'}
    %thead
      %tr
        %th.spacer
        %th= @model.human_attribute_name(:title)
        %th.fill= @model.human_attribute_name(:name)
        %th.actions= t('admin.shared.actions')
    %tbody
      - @items.each do |item|
        %tr
          %td
          %td= item.title
          %td= item.name
          %td.actions
            = link_to t('admin.edit'), edit_manage_page_content_path(item.id), class: 'edit'
