!!!
%html{:lang => I18n.locale}
  = render partial: 'application/head'
  %body
    = render partial: 'shared/flash'
    .app
      = render 'application/navigation'
      = render "application/#{@is_admin ? 'main_admin' : 'main'}"
      = render 'application/dialog'
    - if @has_slideshow
      = render 'application/slideshow'
    = render 'application/javascript'
    - if content_for? :body_end
      = yield(:body_end)
